.App {
  text-align: center;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #414141;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.gmtt {
  color: white !important;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.3px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.search-form {
    margin: -7px;
}

.search-btn {
  background: transparent;
    color: white;
}

.align-right {
  text-align: right;
}

.search-txt {
  width: 400px;
  float: left;
  margin-right: 10px;
  margin-left: 30px;
  opacity: .7;
}

.margin-bottom {
  margin-bottom: 15px;
}

.question-txt {
  margin-top: 15px;
}

.btn-default:hover {
  outline: none;
}

.container {
  margin-left: 10px;
  margin-right: 10px;
}

.btn {
  border:none;
  outline: none;
}

.add-submit {
  background: #00bca4;
  color: white;
}

.add-new {
  margin-bottom: 20px;
  background: #3498db;
  color: white;
}

.sidebtn {
  width: 100%;
  margin-left: 23px;
  text-align: left;
  font-size: 16px;
  color: #626262;
}
.btn-default:hover {
  background-color: none !important;
}
.yes-btn {
  background-color: green;
  color: white;
}

.no-btn {
  background-color: red;
  color: white;
}

.img-bg {
  background-color: #777;
  height: 150px;
  width: 150px;
  border-radius: 100px;
  padding: 15%;
  font-size: 25px;
  margin: 10px auto;
}

.links-block {
  text-align: center;
  font-size: 18px;
}

.links {
  margin-top: 15px;
}

.navbar {
  margin-bottom: 0px;
  padding-top: 13px;
  height: 75px;
  background: linear-gradient(154deg, #008fe2 0, #00b29c 100%);
  color: white;
}

.ans-block {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}

.ans-btn-block {
}

.glyphicon {
  outline: none;
}

.ans-btn {
  margin: 5px 5px 5px 0;
}

.qtitle {
  font-weight: 500;
  font-size: 20px;
}

.qcontent {
  font-size: 18px;
    font-weight: 200;
    letter-spacing: 0.5px;
}

.qstate {
  font-size: 18px;
}

.txt-point {
  color: white;
  text-align: center;
  padding: 50px 0;
}

.col9 {
  background-color: #fafcfe; 
  padding: 10px 30px;
  min-height: 1000px;
}

.well {
  background-color: #fff;
  padding: 20px;
  /*border-color: ;*/
  border: 1px solid #dfe8f1;
}

.usrname {
  font-weight: bold;
  font-size: 25px;
}

.border-right {
  border-right-style: solid;
}

.border-left {
  border-left-style: solid;
  min-height: 1000px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
